<div class="general-app-wrapper">
  <div class="router-content-wrapper">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="title-toolbar main">Sudo Hostel</span>
        <a class="title-toolbar" [routerLink]="['']" routerLinkActive="router-link-active" >Rooms</a>
        <a class="title-toolbar" [routerLink]="['/guests']" routerLinkActive="router-link-active" >Guests</a>
        <a class="title-toolbar" [routerLink]="['/services']" routerLinkActive="router-link-active">Services</a>
        <a class="title-toolbar" [routerLink]="['/staff']" routerLinkActive="router-link-active">Staff</a>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>
