<div class="guests-page-wrapper">
    <div class="right-part">
        <div class="guest-item title">
            <p>No.</p>
            <p>Name</p>
            <p>Surname</p>
            <p>Phone</p>
            <p>Salary</p>
        </div>
        <div *ngFor="let item of data; let i = index" class="guest-item">
            <p>{{i + 1}}</p>
            <p>{{item.name}}</p>
            <p>{{item.surname}}</p>
            <p>{{item.phone}}</p>
            <p>{{item.salary}}</p>
        </div>
    </div>
</div>